body {
    font-family: Tahoma;
    background: #000000;
    margin: 0;
    background-image: url(planet.jpg);
    background-position: right top;
    background-repeat: repeat-x;
    background-image: url(planet.jpg);
    background-position:  top;
    background-repeat: repeat-x;
}
h1 {
    cursor: help;
    margin: 0;
    color: white;
    text-transform: uppercase;
    padding-bottom: 5px;
    border-bottom: 3px soild #000000;
}
form {
      margin: 0 auto;
      width: 450px;
      height: 500px;
      padding: 20px;
}
.group {
        margin: 10px;
        padding: 5px;
}
label {
       padding-left: 10px;
       color: #FFFFFF;
       text-transform: uppercase;
}
input {
       margin-top: 10px;
       height: 40px;
       width: 400px;
       border-radius: 20/20px;
       border: none;
       padding-left: 15px;
       font-size: 18px;
       box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
}
input:focus {
             border: 2px soild #FFFFFF;
             trasform: translateX(15px);
             width: 385px;
}
button {
        cursor: pointer;
        padding: 10px 30px;
        height: 50px;
        color: #4B0082;
        background: rgb(221, 140, 113);
        border: none;
        text-transform: uppercase;
        font-size: 15px;
}
button:hover {
              opacity: .80;
              font-weight: bold;
              transform: scale(1.1);
}